<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbCon" value="Data Source=DESKTOP-TI373IO\MSSQLSERVER01;Initial Catalog=AMS;User Id=AMSadmin;Password=123456;"/>




		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="smtpServer" value="smtp.gmail.com" /> 
		<add key="EnableSsl" value = "true"/>
		<add key="smtpPort" value="587" />
		<add key="smtpUser" value="amssystem864@gmail.com" />
		<add key="smtpPass" value="09874321" />
		<add key="adminEmail" value="amssystem864@gmail.com" />
	</appSettings>


	
	<system.net>
		<mailSettings>
			<smtp from="amssystem864@gmail.com">
				<network host="smtp.gmail.com" password="09874321" port="587" userName="amssystem864@gmail.com"  enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>